---
import { SITE_AUTHOR } from "../config";
import { GetFooterData } from "@lib/Queries";
import { isUrlInternal } from "@lib/Helpers";

const today = new Date();
const data = await GetFooterData();
---

<footer class="mx-auto mt-14 w-full max-w-container px-4 sm:px-6 lg:px-8">
  <div class="border-t border-slate-900/15 py-10">
    <p class="text-center text-sm leading-6 text-slate-600">
      © {today.getFullYear()}
      {SITE_AUTHOR}. All rights reserved.
    </p>
    <div
      class="mt-8 flex items-center justify-center space-x-4 text-sm font-semibold leading-6 text-slate-700"
    >
      {
        data.map(({ name, url }, index) => (
          <>
            {isUrlInternal(url) ? (
              <>
                <a href={url}>{name}</a>
                {index !== data.length - 1 && (
                  <hr class="h-4 w-px bg-neutral-300" />
                )}
              </>
            ) : (
              <>
                <a
                  href={url}
                  target="_blank"
                  rel="noreferrer"
                  class="hover:underline"
                >
                  {name}
                </a>
                {index !== data.length - 1 && (
                  <hr class="h-4 w-px bg-neutral-300" />
                )}
              </>
            )}
          </>
        ))
      }
    </div>
  </div>
</footer>
