---
import { getBySlug, getSidebarData } from "@lib/Github";
import { getHeadings } from "@lib/Helpers";
import SummaryComponent from "@components/Wiki/Summary";
import { slugify } from "@lib/Helpers";
import type { WikiHeadingsSchema } from "@lib/Types";

const { count, items } = await getSidebarData();

let slug = Astro.url.pathname.match(/([^\/]*)\/*$/)![1]!;
if (slug === "distro-grub-themes") slug = "index";

let data: string | undefined;
let headings: WikiHeadingsSchema[] | undefined;

if (slug !== "preview") {
  data = await getBySlug(slug);
  headings = getHeadings(data);
}
---

<aside class="flex flex-col w-full lg:w-80 border rounded-lg h-min">
  <div class="px-4 py-2 bg-neutral-200 w-full inline-flex items-center gap-x-2">
    <p class="font-bold text-sm">Pages</p>
    <span
      class="bg-neutral-600 text-white rounded-full w-5 h-5 inline-flex items-center justify-center text-xs"
    >
      {count}
    </span>
  </div>
  <ul>
    {
      items.map(({ name, href }, index) => {
        if (headings && slugify(name) === slug)
          return (
            <SummaryComponent
              index={index}
              itemsCount={items.length}
              name={name}
              href={href}
              slug={slug}
              headings={headings}
              client:idle
            />
          );

        return (
          <SummaryComponent
            index={index}
            itemsCount={items.length}
            name={name}
            href={href}
            slug={slug}
            client:idle
          />
        );
      })
    }
  </ul>
</aside>
