---
import type { WikiThemeSchema } from "@lib/Types";
import { Image } from "@astrojs/image/components";
import { DISTRO_GRUB_THEMES, DISTRO_GRUB_THEMES_IMAGES } from "../../config";

interface Props extends WikiThemeSchema {}

const { name, image, theme } = Astro.props;
---

<div
  class="flex flex-col ease-[spring(1 100 10 10)] overflow-hidden rounded-lg border bg-white transition-all duration-200 hover:-translate-y-1 hover:shadow-lg"
>
  <div class="w-full cursor-pointer">
    <Image
      width={480}
      height={270}
      src={`${DISTRO_GRUB_THEMES_IMAGES}/preview/${encodeURIComponent(image)}`}
      alt="Theme preview"
      class="w-full"
      format="webp"
      sizes="(max-width: 640px) 80vw, (max-width: 1024px) 50vw, 25vw"
    />
  </div>
  <div class="px-6 pb-5 flex flex-col flex-grow">
    <div class="mt-4 mb-3 flex flex-row justify-between">
      <h3 class="font-medium">{name}</h3>
      <div>
        <span
          class="rounded-xl px-2.5 py-0.5 text-[11px] font-bold bg-blue-100 text-blue-700"
        >
          v2.8
        </span>
      </div>
    </div>
    <div class="flex flex-col justify-between h-full">
      <div class="text-sm text-neutral-600">
        <p>
          A clean and minimalistic GRUB theme with color accent for {name}
        </p>
      </div>
      <a
        href={`${DISTRO_GRUB_THEMES}/raw/master/themes/${encodeURIComponent(
          theme
        )}`}
        target="_blank"
        rel="noreferrer"
        class="w-full mt-4 rounded-md bg-blue-100 text-blue-700 py-2 text-sm font-semibold"
      >
        <div class="flex justify-center gap-2">
          <svg
            xmlns="http://www.w3.org/2000/svg"
            width="20"
            height="20"
            viewBox="0 0 24 24"
            stroke-width="2"
            stroke="currentColor"
            fill="none"
            stroke-linecap="round"
            stroke-linejoin="round"
          >
            <path stroke="none" d="M0 0h24v24H0z" fill="none"></path>
            <path d="M4 17v2a2 2 0 0 0 2 2h12a2 2 0 0 0 2 -2v-2"></path>
            <polyline points="7 11 12 16 17 11"></polyline>
            <line x1="12" y1="4" x2="12" y2="16"></line>
          </svg>
          Download
        </div>
      </a>
    </div>
  </div>
</div>
