---
import "@styles/prose.css";

import { marked } from "marked";
import prism from "prismjs";
import "prismjs/components";

import { GetPostData, GetPostSlugsData, urlFor } from "@lib/Queries";
import SEO from "@layouts/SEO.astro";
import BaseLayout from "@layouts/Base.astro";

const { slug } = Astro.params;
const { title, description, publishedAt, categories, coverImage, content } =
  await GetPostData(slug! as string);

export async function getStaticPaths() {
  const slugs = await GetPostSlugsData();

  return slugs.map((slug) => {
    return {
      params: {
        slug: slug,
      },
    };
  });
}

marked.setOptions({
  highlight: function (code, lang) {
    if (prism.languages[lang]) {
      console.log(`Works: ${lang}`);
      return prism.highlight(code, prism.languages[lang]!, lang);
    } else {
      console.log(`Doesnt: ${lang}`);
      return code;
    }
  },
});
const markdown = marked.parse(content);
---

<SEO title={title} description={description}>
  <BaseLayout>
    <img
      width={720}
      height={360}
      src={urlFor(coverImage).url()}
      alt=""
      class="mx-auto max-w-lg w-full mt-4 sm:mt-0 rounded-xl"
    />

    <h1 class="pt-8 md:pt-16 text-5xl font-bold">{title}</h1>

    <div class="mt-8 text-gray-500">
      <p class="flex gap-2 items-center">
        <a
          href="https://github.com/AdisonCavani"
          target="_blank"
          rel="noreferrer"
          class="hover:underline">Adison Cavani</a
        >
        {"•"}
        <time datetime={publishedAt}>
          {
            new Date(publishedAt).toLocaleDateString("en-us", {
              month: "long",
              day: "numeric",
              year: "numeric",
            })
          }
        </time>
        <a
          href="/rss.xml"
          target="_blank"
          rel="noreferrer"
          class="hover:text-gray-700"
          title="RSS feed"
        >
          <svg
            class="w-4 h-4"
            xmlns="http://www.w3.org/2000/svg"
            viewBox="0 0 20 20"
            fill="currentColor"
            ><path
              d="M5 3a1 1 0 000 2c5.523 0 10 4.477 10 10a1 1 0 102 0C17 8.373 11.627 3 5 3z"
            ></path><path
              d="M4 9a1 1 0 011-1 7 7 0 017 7 1 1 0 11-2 0 5 5 0 00-5-5 1 1 0 01-1-1zM3 15a2 2 0 114 0 2 2 0 01-4 0z"
            ></path>
          </svg>
        </a>
      </p>
      <div class="flow-root mt-8 text-neutral-800 text-xs font-medium">
        <p class="-m-2 flex flex-row">
          {
            categories.map(({ name, slug }) => (
              <a
                href={`/blog/tag/${slug}`}
                class="m-2 px-2 py-1 rounded bg-neutral-200"
              >
                {name}
              </a>
            ))
          }
        </p>
      </div>
    </div>

    <hr class="border-t border-neutral-200 my-8" />

    <article class="w-full max-w-none prose" set:html={markdown}></article>
  </BaseLayout>
</SEO>
