---
import { GetTagsData } from "@lib/Queries";
import type { PostSchema } from "@lib/Types";

interface Props {
  currentTag?: string | undefined;
  posts: Array<PostSchema>;
}

const allTags = await GetTagsData();
const { currentTag, posts } = Astro.props;
---

<h1 class="text-5xl font-bold">Blog</h1>

<div class="flow-root mt-8 text-sm text-gray-600">
  <div class="-m-4 flex flex-row">
    {
      allTags.map(({ name, slug }) => (
        <a
          href={`/blog/tag/${slug}`}
          class={`m-2 px-2 py-1 ${
            slug === currentTag ? "rounded bg-neutral-200" : "hover:underline"
          }`}
        >
          {name}
        </a>
      ))
    }
  </div>
</div>

<section class="mt-8">
  {
    posts.map(({ categories, description, datePublished, title, slug }) => (
      <div class="py-8 border-t border-gray-200 grid sm:grid-cols-3 gap-2">
        <div class="w-56">
          <time datetime={datePublished} class="text-gray-800">
            {new Date(datePublished).toLocaleDateString("en-us", {
              month: "long",
              day: "numeric",
              year: "numeric",
            })}
          </time>
          <div class="flow-root mt-8 text-sm text-gray-600">
            <div class="-m-2 flex flex-wrap">
              {categories.map(({ name, slug }) => (
                <a href={`/blog/tag/${slug}`} class="m-2 hover:underline">
                  {name}
                </a>
              ))}
            </div>
          </div>
        </div>
        <a href={`/blog/${slug}`} class="sm:col-span-2 mt-2">
          <h2 class="text-2xl font-bold">{title}</h2>
          <p class="mt-4">{description}</p>
        </a>
      </div>
    ))
  }
</section>
