---
import BaseHead from "@components/BaseHead.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../config";

interface Props {
  title: string;
  description?: string;
  image?: string;
}

const {
  title,
  description = SITE_DESCRIPTION,
  image = "/static/images/twitter-card.webp",
} = Astro.props;

const fullTitle = `${title} - ${SITE_TITLE}`;
---

<!DOCTYPE html>
<html lang="en">
  <head
    ><meta charset="utf-8" />
    <meta name="viewport" content="width=device-width,initial-scale=1" />
    <meta name="generator" content={Astro.generator} />

    <!-- Primary Meta Tags -->
    <title>{fullTitle}</title>
    <meta name="title" content={fullTitle} />
    <meta name="description" content={description} />

    <!-- Favicons -->
    <BaseHead />

    <!-- Open Graph / Facebook -->
    <meta property="og:type" content="website" />
    <meta property="og:url" content={Astro.url} />
    <meta property="og:title" content={fullTitle} />
    <meta property="og:description" content={description} />
    <meta property="og:image" content={new URL(image, Astro.url)} />

    <!-- Twitter -->
    <meta property="twitter:card" content="summary_large_image" />
    <meta property="twitter:url" content={Astro.url} />
    <meta property="twitter:title" content={fullTitle} />
    <meta property="twitter:description" content={description} />
    <meta property="twitter:image" content={new URL(image, Astro.url)} />
  </head>
  <body class="bg-neutral-100"><slot /></body>
</html>
